@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.page {
    background: #DEDEDE!important;
    height: 100svh;
}

.illustration {
    width: 100vw;
}

.body {
    margin-inline: 30px;
    width: calc(100% - 60px);
}

.title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 34px;
    margin-top: 22px;
}

.input-text {
    margin-top: 22px;
    width: calc(100% - 50px);
    height: 50px;

    border-radius: 58px;
    background: #E1E2E3;
    box-shadow: 2px 5px 10.1px 0px rgba(0, 0, 0, 0.30) inset;
    border: none;

    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-inline: 25px;
    transition: 300ms all ease-in-out;
}

.input-date {
    width: calc(100% - 100px);
    height: 50px;

    border-radius: 58px;
    background: #E1E2E3;
    box-shadow: 2px 5px 10.1px 0px rgba(0, 0, 0, 0.30) inset;
    border: none;

    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-inline: 50px;
    transition: 300ms all ease-in-out;
}

.input-text::placeholder {
    color: #434343;
}

.input-text:focus, .input-date:focus {
    box-shadow : 13px 13px 100px rgba(0, 0, 0, 0.25);
    background: #fff;
    outline: none;
    transition: 300ms all ease-in-out;
}

.input-date::-webkit-calendar-picker-indicator{
    display: none;
}

.input-w-icon {
    position: relative;
    height: 50px;
    margin-top: 22px;
}

.input-icon {
    position: absolute;
    transform-origin: 50%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

}

.userIcon {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 60px;
    aspect-ratio: 1;
}

.accountSlide {
    position:absolute;
    left: 0;
    transition: all ease-in-out 0.5s;
}

.accountSlide.hide {
    bottom: -400px;
}

.accountSlide.show {
    bottom: 0;
}